h1{
    text-align: center;
    font-size:50px;
    padding-bottom: 25px;
    border-bottom: 10px solid gray;
}

#backButton{
    border: 0px;
    background-color: white;
    margin-right: 0px;
}

.text{
    font-size: 25px;
}

.label{
    text-align: center;
    font-size: 30px;
}

#okButton{
    text-align: center;
    border: 0px;
    background-color: white;
}